<html lang="en">
    <head>
        <title>Weather Gle Application</title>

        {% load staticfiles %}
        <link  rel="stylesheet" type="text/css" href='{% static "css/bootstrap.css" %} '/>
        <link rel="stylesheet" type="text/css" href='{% static "css/bootstrap-responsive.css" %} ' />
        <script type="text/javascript" language="JavaScript"  src='{% static "js/jquery-1.11.3.min.js" %} '></script>
        <script  type="text/javascript" language="JavaScript"   src='{% static "js/highcharts.js" %} '></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
       <!-- <script src="http://code.highcharts.com/modules/exporting.js"></script>-->

  <script language="JavaScript">
    $(function () {
    $('#container').highcharts({
        title: {
            text: 'THe Forecasts Temperature in {{city}} ',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: weather.com',
            x: -20
        },
        xAxis: {
            categories: [{% for i in date %}
                          '{{i}}',
                         {%endfor%}
            ]
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Hih Temperature',
            data: [{% for i in temp %}
                          {{i}},
                         {%endfor%}
            ]},{
            name: 'Low Temperature',
            data:[{% for i in temp2 %}
                          {{i}},
                         {%endfor%}
            ]
        }]
    });
});
</script>


    </head>
    <body>
    <center>
    <div class="row">
        <div class="warning">
    <h1 class="h1"> <small>Welcome to the Great Lakes Energy Weather Apps</small></h1>
        </div>
        </div>
        <div class="row">
    <form method="POST" action="">{%csrf_token%}
        <div class="form-group">
        {{ form.as_p}}
        <input type="submit" value="Search" class="btn btn-success">
            </div>
    </form>
            </div>
    {% if weather_com_result != 'null' %}
        <div class="row">
            <div class="col-md-6">
    <h4 class="h4">This is the weather Forecastes On The Weather.com For {{city}} City </h4>
            </div>
             <p> <strong><span class="label label-info">The Current Temperature Conditions</span> </strong>: It is {{ weather_com_result.current_conditions.text }}  <span class="badge"> {{ weather_com_result.current_conditions.temperature }} C</span> </p>

            <div id="container"  style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </center>
            <div class="row">

    </div>
                {% for i in weather_com_result.forecasts %}
        <div class="row">
            <h5> The {{i.date }}  Conditions are:</h5>
            <div class="jumbotron">
                <div class="container">

    <p> The High  Tempeture  {{i.high }} and The Low  Tempeture  {{i.low }} </p>
    <p> The Day  Precipitation change  {{i.day.chance_precip }} and Night  Precipitation change  {{i.night.chance_precip }} </p>
    <br>
                    </div>
                </div>
            </div>
    {%endfor%}
    </div>
    {%endif%}

    </body>
</html>
